body {
  background: #111111;
}
h1 {
  text-align: center;
  color: red;
}
h2 {
  text-align: left;
  color: red;
}
.Caixa1 {
  background: red;
  color: black;
  width: 200px;
  height: 200px;
  right: 0;
  top: 0;
}

github.com
